{% extends 'core/site-base.html' %}
{% load static %}

{% block title %}
{{ webinfo.name }} | Homepage
{% endblock title %}

{% block contents %}
<br>
<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <a href="{% url 'core:prayer_request' %}" class="btn btn-primary">Send Prayer Requests</a>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
                <a href="http://" class="btn btn-primary">Upload Bio-data</a>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}
